*.swp

*.cmi
*.cmo
*.cmx

*.annot
*.output

*.o

*.byte
_build

.project
*.sublime-*

Makefile.deps
Makefile.local

bin/

stages/k3/parser/K3Parser.mli
stages/k3/parser/K3Parser.ml

stages/k3/parser/K3Lexer.mli
stages/k3/parser/K3Lexer.ml
stages/m3/Calculuslexer.ml
stages/m3/Calculusparser.ml
stages/m3/Calculusparser.mli
