*.swp
*.swo

*.cmi
*.cmo
*.cmx

*.annot
*.output

*.o

*.byte
_build

.project
*.sublime-*

Makefile.deps
Makefile.local

bin/

deps/bolt-1.4/Makefile.config
deps/bolt-1.4/bolt.*
lib/bolt

src/stages/k3/parser/K3Parser.mli
src/stages/k3/parser/K3Parser.ml

src/stages/k3/parser/K3Lexer.mli
src/stages/k3/parser/K3Lexer.ml
src/stages/m3/Calculuslexer.ml
src/stages/m3/Calculusparser.ml
src/stages/m3/Calculusparser.mli
